{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Atendimento</h2>
                <p><strong>Nome da Empresa: </strong>Mercado Shops</p>
                <p><strong>Telefone: </strong>(11) 998344-4433</p>
                <p><strong>Cidade: </strong>São Paulo</p>
                <p><strong>Endereço: </strong>Rua Ferreira de Araújo, 100</p>
                <p><strong>Horário de Atendimento: </strong>Segunda a Sexta, das 9h às 18h</p>
            </div>
        </div>
    </div>
{% endblock content %}