{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="mt-4">
        
        <h3>Tema:</h3>
        <p style="text-align: justify;">  E-Commerce
    
        <h3>Objetivo:</h3>
        <p style="text-align: justify;"> O propósito deste trabalho consiste em criar uma aplicação web e-commerce utilizando o framework Django. A principal meta é desenvolver um sistema que simule com fidelidade a operação de um e-commerce profissional, abrangendo desde a navegação do usuário e seleção de produtos. Este projeto visa aprimorar as habilidades práticas em desenvolvimento web, destacando a capacidade de implementar funcionalidades cruciais para uma experiência de compra online eficaz e envolvente.

        <h3>Desenvolvedores:</h3>
        <ul>
            <li>Beatriz Aparecida de Castro | RA: 2840482113032</li>
            <li>Hiago Leres da Costa | RA: 2840482113031</li>
            <li>Ítalo Leonardo Lima dos Santos | RA: 2840482113031</li>
        </ul>
    </div>

{% endblock content %}
